body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: white;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.terminal {
  margin: 20px;
  padding: 15px;
  border: 1px solid white;
}

.terminal > .terminal-display {
  height: 500px;
  overflow: auto;
  margin: 0px 0px 15px 0px;
}

.terminal > .terminal-prompt {
  display: flex;
  padding-top: 15px;
  border-top: 1px solid white;
}

.terminal > .terminal-prompt > code {
  margin-right: 5px;
}

.terminal > .terminal-prompt > input {
  width: 100%;
  border: none;
  font-size: 16px;
  font-family: monospace;
  color: white;
  background-color: black;
}

/*.terminal > .terminal-prompt > input:active {}*/
